@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
* {
  box-sizing: border-box;
}
body {
  font-size: 20px;
  font-family: "Inconsolata", monospace;
  font-weight: 700;
}
.all {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.wrapper {
  background-color: #aaaec2;
  display: inline-block;
  text-align: center;
  width: 400px;
  border-radius: 20px;
}
hr {
  display: inline-block;
  padding: 0 155px;
}
.card-head {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-img {
  width: 100%;
  height: 100%;
}
.card-img img {
  --size: 180px;
  width: var(--size);
  height: var(--size);
  object-fit: cover;
  display: inline-block;
  border-radius: 50%;
  border: 4px solid orange;
  box-shadow: 5px 5px 14px 11px #000000;
  margin: calc(var(--size) / -2) auto 40px;
}
.card-name {
  font-size: 30px;
}
.card-prfession {
  color: blue;
  padding: 15px 0;
}
.card-country {
  font-size: 16px;
}
.card-portret-container {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.card-img-portret {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin: 0 5px;
}
.card-logo-container {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.logo {
  padding: 0 10px 0px 10px;
}
.link img {
  width: 30px;
  height: 30px;
}
.logo + .logo {
  border-left: 2px solid black;
}
